@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  .fade-in.isVisible {
    opacity: 1;
  }
  
  /* Parallax effect */
  .parallax {
    transform: translateY(0);
    transition: transform 0.5s ease-out;
  }
  